<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of data">
            <td>{{d.name}}</td>
            <td>{{d.position}}</td>
            <td>{{d.office}}</td>
            <td>{{d.age}}</td>
            <td>{{d.date}}</td>
            <td>{{d.salary}}</td>
        </tr>
        </tbody>
    </table>
